.container {
  min-height: 600px;
  width: calc(100% + 40px);
  margin-left: -20px;
  padding: 0 20px;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
}
.empty-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.text {
  color: var(--color-gray-200);
}
.card-container {
  margin-top: 10px;
  padding-bottom: 150px;
}
