.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 34px;
  height: 34px;
}

.service-name {
  height: 50px;
  width: auto;
}

.setting-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 26px;
  height: 26px;
}

.setting-icon {
  width: 26px;
  height: 26px;
}

/* 임시 구역 나눔(변경 예정) */
.temp-section {
  background-color: #ffffff;
  height: 11px;
  width: calc(100% + 40px);
  margin-left: -20px;
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1);
}
.temp-section-bottom {
  height: 100px;
}
