.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-bottom: 20%;
}
.text {
  color: var(--color-gray-200);
}
.card-container {
  padding-bottom: 150px;
}
