.icon {
  margin-top: 20px;
  height: 32px;
  width: 32px;
}

.title {
  margin-top: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 7px;
  margin-top: 20px;
}
.button-group .button {
  height: 50px;
}
