.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: var(--color-white-300);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: var(--color-boxshadow-100);
  padding: 0 20px;
  z-index: 2;
}

.places-button {
  display: flex;
  align-items: center;
  gap: 2px;
}