.header-icon {
  width: 16px;
  height: 16px;
}
.img-section {
  background-color: var(--color-white-300);
}
.field-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 20px 0 20px;
  background-color: var(--color-white-300);
}
.data-field {
  margin-bottom: 24px;
}
.text-field {
  padding-bottom: 50px;
}

.time-container {
  margin-top: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color-white-100);
  border-radius: 8px;
  height: 40px;
}

.dash {
  flex-shrink: 0;
  background-color: #96979b;
  width: 12px;
  height: 2px;
  border-radius: 1px;
}
