.calendar {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(auto-fill, 38px);
  gap: 12px;
  width: 100%;
}

.week {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
}

.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 38px;
  cursor: pointer;
}

.empty {
  color: #c2c2c2;
  cursor: default;
}

.disabled {
  color: #c2c2c2;
  cursor: default;
}

.selected {
  margin: auto;
  width: 38px;
  height: 38px;
  background: #dce4d9;
  border-radius: 50%;
}

.stamp-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34px;
  height: 34px;
  opacity: 0;
}

.animate-fade-in {
  animation: fade-in 0.3s forwards;
}

.show-immediately {
  opacity: 1;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
