.input-container {
  display: flex;
  align-items: flex-end;
  background-color: var(--color-white-300);
  padding: 13px 10px 13px 20px;
  gap: 10px;
}

.textarea-wrapper {
  flex: 1;
  display: grid;
}

.textarea {
  background-color: var(--color-white-300);
  width: 100%;
  border: none;
  resize: none;
  overflow-y: auto;
  scrollbar-width: none;
  font-size: 16px;
  line-height: 1.5;
}
.send-button-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.send-button {
  box-sizing: content-box;
  padding: 10px;
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-green);
}
.send-button:disabled {
  color: var(--color-gray-200);
}

.send-icon {
  width: 24px;
  height: 24px;
}
