:root{
  --color-green: #1ABC9C;
  --color-brown: #F4A261;
  --color-red: #E53935;

  --color-black: #212121;

  --color-gray-100: #424242;
  --color-gray-200: #9E9E9E;
  --color-gray-300: #E0E0E0;

  --color-white-100: #F4F4F4;
  --color-white-200: #FAFAFA;
  --color-white-300: #FFFFFF;

  --color-overlay: rgba(0, 0, 0, 0.3);

}