:root {
  /* color */
  --color-green: #4f7942;
  --color-brown: #f4a261;
  --color-red: #e53935;

  --color-black: #212121;

  --color-gray-100: #424242;
  --color-gray-200: #9e9e9e;
  --color-gray-300: #e0e0e0;

  --color-white-100: #f4f4f4;
  --color-white-200: #fafafa;
  --color-white-300: #ffffff;

  --color-background: #ebf1e5;
  --color-background-accent: #c7d5bf;

  --color-overlay: rgba(0, 0, 0, 0.3);

  --color-boxshadow-100: 0 2px 2px rgba(0, 0, 0, 0.25);
  --color-boxshadow-200: 0 4px 8px rgba(0, 0, 0, 0.25);

  /* length */
  --bottom-button-height: 95px;
}
