:root {
  --color-green: #4F7942;
  --color-brown: #f4a261;
  --color-red: #e53935;

  --color-black: #212121;

  --color-gray-100: #424242;
  --color-gray-200: #9e9e9e;
  --color-gray-300: #e0e0e0;

  --color-white-100: #f4f4f4;
  --color-white-200: #fafafa;
  --color-white-300: #ffffff;

  --color-overlay: rgba(0, 0, 0, 0.3);

  --bottom-button-height: 95px;
}
