.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background-color: var(--color-white-300);
}
.title {
  padding-top: 100px;
}
.input-field {
  margin-top: 80px;
}

@media (min-width: 768px) {
  .title {
    padding-top: 150px;
  }
}
