.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--color-white-300);
}

.form-section {
  margin-top: 30px;
}

.description-section {
  margin-top: 20px;
  padding: 0 20px;
}
.description {
  margin-top: 5px;
  height: 85px;
  width: 274px;
}

.info-section {
  position: absolute;
  bottom: calc(var(--bottom-button-height) + 20px);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  color: var(--color-gray-200);
}

.info-title {
  display: flex;
  align-items: center;
  color: var(--color-gray-100);
  gap: 6px;
}
.info-margin {
  margin: 12px 0;
}

.info-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
