.step-item {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-white-300);
  padding: 0 10px 0 15px;
  border-radius: 8px;
  box-shadow: var(--color-boxshadow-100);
  flex-shrink: 0;
}

.clock-icon {
  width: 22px;
  height: 22px;
  color: var(--color-black);
}

.clock-icon-create {
  color: var(--color-gray-200);
}

.step-name-input {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  min-width: 0;
}

.step-time-input {
  width: 60px;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-black);
}

.step-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
}

.icon-plus {
  width: 24px;
  height: 24px;
}
