.container {
  padding: 0 20px;
  background-color: var(--color-white-300);
}
.form {
  margin-top: 46px;
  padding-bottom: 50px;
}
.form-field {
  width: 100%;
  margin-bottom: 24px;
}
.button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 25%);
}
.score-description {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 4px;
}
.warning-icon {
  margin-top: 2px;
  width: 16px;
  height: 16px;
  color: var(--color-gray-200);
}
.description {
  color: var(--color-gray-200);
}
