.container {
  display: flex;
  width: 100%;
  padding: 0 20px;
  min-height: 100vh;
  flex-direction: column;
  padding-bottom: 140px;
  background-color: var(--color-white-300);
}
.title{
  padding-top: 100px;
}
.agreement-item-list {
  margin-top: auto;
}

@media (min-width: 768px) {
  .container {
    padding-bottom: 180px;
  }
  .title{
    padding-top: 150px;
  }
}