.container {
  width: 100%;
  height: 100%;
  background-color: var(--color-white-300);
  display: flex;
  flex-direction: column;
}

.notice-container {
  padding: 20px;
}

.item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.menu-item-block{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--color-gray-200);
  opacity: 0.4;
}

.menu-item {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray-200);
}
