.container {
  width: 100%;
  margin-bottom: 24px;
}

.time-selector {
  margin-top: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color-white-100);
  border-radius: 8px;
  height: 40px;
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.dash {
  flex-shrink: 0;
  background-color: #96979b;
  width: 12px;
  height: 2px;
  border-radius: 1px;
}

.info-text {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 4px;
}
.warning {
  width: 12px;
  height: 12px;
}
.warning-text {
  color: var(--color-gray-200);
}
