.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.option {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
}

.icon{
  width: 24px;
  height: 24px;
}