.button-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.button{
  display: flex;
  align-items: center;
}
.modal-icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.remove{
  color: var(--color-red);
}