.wrapper {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  z-index: 100;
  height: var(--bottom-button-height);
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 460px;
  }
}
