.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-white-300);
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  width: 100%;
  height: 65px;
}
.left {
  display: flex;
  align-items: center;
}
.back-button {
  background: none;
  border: none;
}

.back-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  color: var(--color-black);
}
.title {
  margin-left: 4px;
}
.left-title {
  margin-left: 5px;
}
.center-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.right-icon {
  margin-left: auto;
}
.back-area {
  height: 65px;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .header {
    top: 0;
    left: 50%;
    width: 500px;
    transform: translateX(-50%);
    padding: 0 20px;
    height: 85px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .title {
    margin-left: 6px;
  }
  .back-area {
    height: 85px;
  }
}
