.header {
  position: relative;
  background-color: var(--color-white-300);
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 10;
  width: 100%;
  height: var(--header-height);
  flex-shrink: 0;
}

.left-section {
  display: flex;
  align-items: center;
  padding: 4px;
  padding-left: 0;
}

.back-icon {
  width: 16px;
  height: 16px;
  color: var(--color-black);
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fill-space-title {
  width: 100%;
  flex: 1;
  margin: 0 12px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  gap: 10px;
}

@media (min-width: 768px) {
  .header {
    width: 500px;
  }
}
