.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--color-white-300);
  border-radius: 15px;
  padding: 20px;
  width: 85%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 35px;
  width: 100%;
}

.input-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.time-input {
  width: 100px;
  height: 80px;
  border: none;
  border-radius: 12px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: var(--color-black);
  outline: none;
}

.time-input:focus {
  background-color: var(--color-white-100);
}

.separator {
  font-size: 36px;
  font-weight: bold;
  padding-top: 30px;
}

.footer-buttons {
  display: flex;
  width: 100%;
  gap: 12px;
}

.cancel-button {
  flex: 1;
  height: 55px;
}

.confirm-button {
  flex: 1;
  height: 55px;
}
