.header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: var(--header-height);
}

.brand {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 34px;
  height: 34px;
}

.service-name {
  height: 50px;
  width: auto;
}
@media (min-width: 768px) {
  .header {
    height: 80px;
  }
}
