.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 34px;
  height: 34px;
}

.service-name {
  height: 50px;
  width: auto;
}
