.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  flex-shrink: 0;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-200);
  border-radius: 25px;
  transition: background-color 0.2s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--color-white-300);
  border-radius: 50%;
  transition: transform 0.2s;
}

.checkbox:checked + .slider {
  background-color: var(--color-green);
}

.checkbox:checked + .slider::before {
  transform: translateX(26px);
}