.header {
  font-size: 32px;
}
.title-large {
  font-size: 24px;
}
.title-medium {
  font-size: 22px;
}
.title-small {
  font-size: 18px;
}
.content-large {
  font-size: 15px;
}
.content-medium {
  font-size: 14px;
}
.content-small {
  font-size: 12px;
}
.content-tiny {
  font-size: 8px;
}

.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

.text {
  line-height: 1.5;
}
